/* rgba(8, 8, 8)
rgb(5, 4, 4) */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
body {
    font-weight: 400px;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to top, 
    rgba(8, 8, 8,0.8),
    rgb(5, 4, 4,0.8) ),
    url(./images/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo span {
    color: white;
    font-size: 25px;
}

.header__herotext{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main{
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInleft;
    animation-duration: 2s;
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1.5rem;
    animation-name: moveInright;
    animation-duration: 2s;
}

@keyframes moveInleft {
    0%{
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInright {
    0%{
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        transform: translateX(-2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn--white {
    background-color: white;
    color: #777;
}